body {
  font-size: 16px;
  color: #000;
  background-color: #e6ffff;
  font-family: sans-serif;
}
h1 {
	margin-bottom: 55px;
}

/** HEADER **/
#header-nav {
  background-color: #00e6e6;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Our menu */
  font-family: serif;
  color: #003333;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
/*Menu*/
/*#nav-list {
  margin-top: 10px;
}*/
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list{
  background-color: #ffe6ff;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*End Menu*/

/* END HEADER */
/*Main*/
.container {
    width: 90%;
}
#menu-chicken, #menu-beef, #menu-sushi {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
  border: 2px solid #61122f;
  overflow: hidden;
  background-color: #ecdfec;
}

.row span {
	text-transform: uppercase;
	font-weight: bold;
}
/*End Menu*/

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
    
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
    /* End Header */

  /* Home Page */
  .container {
    margin-top: 30px;
    padding: 0;
  }

  
}

